/* ========================= */
/* HERO SECTION */
/* ========================= */

.hero {
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}

/* TEXT */
.hero-content h1 {
    font-size: 3.5rem;
    letter-spacing: 1px;
}

.hero-content p {
    margin-top: 15px;
    color: var(--orange-light);
    font-size: 1.2rem;
}

/* BUTTON */
.hero-content .btn-primary {
    margin-top: 20px;
}

/* BACKGROUND EFFECT */
.liquid-bg {
    /* Pehle texture image, phir comma ke baad gradient */
    background-image: url('assets/images/backgrounds
/background_texture.webp'), 
                      radial-gradient(circle, rgba(255, 107, 0, 0.19), transparent 70%);
    background-size: cover, auto; /* Image cover karegi, gradient normal rahega */
}
